# Fortran module binaries
*.mod
*.o

# Build files
build/
debug_build/

# Binaries
bin/
*.e

# Scripts
*.sh

# Library
lib/

# Data
data/*.dat

# Plots
*.eps
plotting/*.p~
*.pdf

# Emacs backups
*~

# Fortran language server configuration
.fortls
